<div class = "container center margin_top col-md-4 col-md-offset-4">
  <div id = "show_calc">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Institutional GPA:</strong>
      <span class = "result"><%= @student.institutional_gpa %></span>
    </p>

    <p>
      <strong>Institutional Credits:</strong>
      <span class = "result"><%= @student.institutional_credits %></span>
    </p>

    <p>
      <strong>Total Earned Credits:</strong>
      <span class = "result"><%= @student.total_earned_credits %></span>
    </p>

    <p>
      <strong>Total Attempted Credits:</strong>
      <span class = "result"><%= @student.total_attempted_credits %></span>
    </p>

    <hr>

    <p>
      <strong>Credits needed to reach <%= @student.min_gpa %> if student makes all B's (Half if all A's):</strong>
      <span class = "result"><%= @student.credits_needed_for_min_gpa %></span>
    </p>

    <p>
      <strong>Credits needed to reach <%= (@student.min_phrs * 100) %> percent:</strong>
      <span class = "result"><%= @student.credits_needed_for_min_phrs %></span>
    </p>

    <%= link_to 'New Calculation', new_student_path, class: "btn btn-md btn-success", id: "new_button" %>
  </div>
</div>
